<div>
  <h4>E2 Instance: <%= @id %></h4>

  <% if @details %>
    <table class = 'table-condensed'>
      <tbody>
        <% @details.each do |key, value| %>
        <tr >
          <td><%= key %></td>
          <td><%= value %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to "Start Instance", instance_start_url(@id), class: 'btn btn-default' %>
    <%= link_to "Stop Instance", instance_stop_url(@id), class: 'btn btn-default' %>
    <%= link_to "Refresh", instance_url(@id), class: 'btn btn-default' %>
    <br>
    <br><%= link_to "Back to List", instances_url, class: 'btn btn-default' %>
  <% end %>

</div>
